body {
    /* background-color: #557f89; */
    background-color: #FFFFFF;
    font-family: Hiragino Mincho ProN;
    color: #007083;
}

.main-img {
    width:300px;
    margin-top: 20px;
    margin-bottom: 30px;
}


.main-desc {
    width:450px;
    font-size: 14px;
    margin: auto;
    line-height: 1.5;
}

.main-container {
    margin: auto;
    width: 80%;
    text-align: center;
}

@media screen and (max-width: 540px) {


}